.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 8px 16px;
    font-size: 20px;
    font-family: Karla;
    text-decoration: none;
    color: #eeeeee;
    display: block;
}

.sidenav a:hover {
    color: #ffffff;
    font-weight: bold;
}

.main {
    margin-left: 200px;
    padding: 32px;
}

.active-link {
    font-weight: bold;
    background-color: #008ACD;
}