.legend {
    display: inline;
    font-family: Karla;
}

.kast {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 1px solid #e3f2fd;
    margin: 8px;
}

.item {
    flex: 1 1 auto;
    border: 1px solid #ffebee;
    font-family: Karla;
    font-size: 24;
}

li:first-child {
    margin-right: auto;
    visibility: hidden;
}

li:last-child {
    margin-left: auto;
}

li {
    display: flex;
    margin: 1px;
    padding: 5px;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

thead {
    background-color: #cef;
}

.tabel-stiil {
    font-size: 18x;
    font-family: Karla;
    font-weight: 600;
}

.kokku{
    background:#008ACD;
    line-height:43px;
    color:#fff;
    border-radius:30px;
    border:2px solid #cef;
    float:left;
    padding-left:17px
}

.kokku span{
    display:inline-block;
    background:#fff;
    padding:0 13px;
    color:#000;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    margin-left:11px
}

.ostukaru-pilt {
    height: 48px;
}