.valiEsindusSilt {
    margin: 0px 16px;
}

thead {
    background-color: #cef;
}

.tabel-stiil {
    font-size: 18x;
    font-family: Karla;
    font-weight: 600;
}

.Kristiine {
    color: #198022;
}

.Viru {
    color: #805519;
}

.Lõunakeskus {
    color: #194D80;
}