<div class="d-flex">
    <!-- KÜLGRIBA -->
    <div class="sidenav">
        <a routerLink='too-registreerimine' routerLinkActive='active-link'>Töö registreerimine</a>
        <a routerLink='korv-detailid' routerLinkActive='active-link'>Korv detailid </a>
        <a routerLink='toode-logi' routerLinkActive='active-link'>Tööde logi </a>

    </div>
    <!-- /KÜLGRIBA -->

    <!-- PÕHISISU -->
    <div class="main container-fluid">
        <router-outlet></router-outlet>
    </div>
    <!-- /PÕHISISU -->
</div>