<!-- PÄIS -->
<div class="topnav" role="banner">
  <img src="assets/images/fonum-logo-suur.png" alt="Fonumi logo" height="60">
  <a routerLink="/avaleht" routerLinkActive="active-link" class="active">Avaleht</a>
  <a routerLink="/varuosade-haldus" routerLinkActive="active-link">Varuosade haldus</a>
  <a routerLink="/too-registreerimine" routerLinkActive="active-link">Töö registreerimine</a>
  <a routerLink="/seaded" routerLinkActive="active-link">Seaded</a>
</div>
<!-- PÄISE LÕPP -->

<router-outlet></router-outlet>