<div class="d-flex">
    <!-- KÜLGRIBA -->
    <div class="sidenav">
        <a routerLink='kuva-varuosad' routerLinkActive='active-link'>Kõik varuosad</a>
        <a routerLink='otsakorral-varuosad' routerLinkActive='active-link'>Otsakorral varuosad</a>
        <a routerLink='enimkulunud-varuosad' routerLinkActive='active-link'>Enimkulunud varuosad</a>
        <a routerLink='ymber-jaotamine' routerLinkActive='active-link'>Soovitatav ümberjaotus</a>
        <a routerLink='hinna-langetus' routerLinkActive='active-link'>Soovitatav hinnalangetus</a>
        <a routerLink='lisa-varuosa' routerLinkActive='active-link'>Lisa varuosa</a>

    </div>
    <!-- /KÜLGRIBA -->

    <!-- PÕHISISU -->
    <div class="main container-fluid">
        <router-outlet></router-outlet>
    </div>
    <!-- /PÕHISISU -->
</div>