<div class="d-flex">
    <!-- KÜLGRIBA -->
    <div class="sidenav">
        <a routerLink='kuva-varuosad2' routerLinkActive='active-link'>Kuva varuosad</a>
        <a routerLink='otsakorral-varuosad' routerLinkActive='active-link'>Otsakorral varuosad</a>
        <a routerLink='ymber-jaotamine' routerLinkActive='active-link'>Ümberjaotamine</a>
        <a routerLink='lisa-varuosa' routerLinkActive='active-link'>Lisa varuosa</a>

    </div>
    <!-- /KÜLGRIBA -->

    <!-- PÕHISISU -->
    <div class="main container-fluid">
        <router-outlet></router-outlet>
    </div>
    <!-- /PÕHISISU -->
</div>